/* Google Font Style */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish', sans-serif;
}

/* Shared Styles */

/* Stayle for header part */
header{
    margin: 63px 135px;
}
.nav-bar{
    position: relative;
}
.menu-icon{
    position: absolute;
    top: 20px;
    right: 60px;
}
.nav-bar .menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.125rem;
}

.nav-logo {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 48px;
    height: 56.008px;
}

.logo-title {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.theme-color {
    color: #FF5400;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}


.nav-menus ul {
    list-style: none;
    font-size: 1.12rem;
    font-weight: 400;
}

.nav-menus li a {
    margin-right: 2.75rem;
    text-decoration: none;
    color: #424247;
}

.nav-menus li a:hover {
    border: .0625rem solid #50b5ff;
}

.banner {
    max-width: 97%;
    height: 31.25rem;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 40.png);
    border-radius: 16px;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.banner-title {
    padding-top: 6rem;
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.banner-title-description {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    /* 162.5% */
    padding-top: 1.5rem;
    max-width: 42.25rem;
    margin: 0px auto;
}

.search-box {
    background-color: #FFFFFF4D;
    margin: 64px auto;
    display: inline-flex;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.destination {
    padding: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 8px;
    background: #FFF;
    border: 0px;
}



.date {
    padding: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 8px;
    background: #FFF;
    border: 0px;
    display: flex;
    gap: 74px;
}

.Choices {
    padding: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 8px;
    background: #FFF;
    border: 0px;
    display: flex;
    gap: 35px;
}

.find {
    padding: 16px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 8px;
    background: #FF5400;
    border: 0px;
    display: flex;
    gap: .5rem;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

/* Styles for destination section */

main{
    margin: 63px 135px;
}
.popular-destinations {
    max-width: 97%;
    display: flex;
    gap: 53px;
    justify-content: space-between;
    /* background-color: red; */
}

.destinations-content{
    /* flex-grow: 2; */
    width: 577px;
    height: 550px;
    
}

.destination-title {
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.destinations-title-description {
    margin-bottom: 40px;
    color: #131318B2;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    /* background-color: red; */
}
.destination-point{
    margin-left: 30px;
}
.destination-point ul li{
    margin-bottom: 18px;
}

.destinations-content .color {
    color: #5A5A5D;
    margin-top: 24px;
}

.btn-destination {
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    padding: 14px 35px;
    background: #FF5400;
    margin-top: 32px;
    border: 0px;
}


.destinations-pic img {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.destinations-content h1:hover {
    border: 1px solid blue;
}

.destinations-content p:hover {
    border: 1px solid blue;
}



.destinations-content button:hover {
    border: 1px solid blue;
}

/* Style for Choices Section */
.choice-destination {
    margin-top: 100px;
}

.choice-content {
    text-align: center;
}

.choice-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.choice-title-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 643px;
    /* margin-left: 485px; */
    margin: 0px auto 48px;
    border: 0px;
}

/* .choice-container img{
    width: 100%;
} */



.choice-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;

}

.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 800;
    color: #FFF;
}

#choice-1 {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 5.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    grid-column: 1/span 6;
    grid-row: 1/span 1;
    border-radius: 16px;
}

#choice-2 {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 8.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 16px;
    grid-column: 7/span 6;
    grid-row: 1/span 1;

}

#choice-3 {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 6.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 286px;
    border-radius: 16px;
    grid-column: 1/span 3;
    grid-row: 2/span 2;

}

#choice-4 {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 7.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 286px;
    border-radius: 16px;
    grid-column: 4/span 7;
    grid-row: 2/span 2;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

#choice-5 {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 286px;
    border-radius: 16px;
    grid-column: 11/span 2;
    grid-row: 2/span 2;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

#choice-6 {
    grid-column: 1/span 4;
    grid-row: 3/span 3;
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 11.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 16px;
}

#choice-7 {
    grid-column: 5/span 8;
    grid-row: 3/span 3;
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 10.png");
    background-size: cover;
    height: 300px;
    border-radius: 16px;
    background-repeat: no-repeat;
}

.choice-content h1:hover {
    border: 1px solid blue;
}

.choice-content p:hover {
    border: 1px solid blue;
}

.choice-container div:hover {
    border: 1px solid blue;
}


/* Style for reasons section */
.reasons {
    margin-bottom: 100px;
}

.reasons-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.reasons-title-description{
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-bottom: 48px;
max-width: 643px;
margin-left: 300px;
}

#special {
    text-align: center;
}

.card-container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;

}

.card {
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    flex-grow: 2;
}

.card img {
    padding: 32px;
}

.card .card-title {
    padding: 0px 32px 16px;
}

.card .card-title-description {
    padding: 0px 55px 32px 32px;
}

.card1 {
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 573px;
    flex-grow: 2;
}

.card1 img {
    padding: 32px;
}

.card1 .card-title {
    margin-left: 32px;
}

.card1 .card-title-description {
    padding: 0px 55px 32px 32px;
}

.card2 {
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 573px;
    position: relative;
    left: 331px;
}

.card2 img {
    padding: 32px;
}

.card2 .card-title {
    margin-left: 32px;
}

.card-title-description {
    padding: 0px 55px 32px 32px;
}

.card-container div:hover {
    border: 1px solid blue;
}

.card-container div:hover {
    border: 1px solid blue;
}

.reasons-content h1:hover {
    border: 1px solid blue;
}

.reasons-content p:hover {
    border: 1px solid blue;
}
.card1 .card-title, .card2 .card-title{
    margin-bottom: 16px;
} 
/* Styles for deals & discounts */

.deals-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.deals-description {
    color: rgba(19, 19, 24, 0.70);
    margin: 0px auto 48px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 643px;
}

.deals-infos-container {
    display: block;
    gap: 24px;
    margin-bottom: 24px;
}

#d-info {
    background-image: url("../Images/Group\ 39.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    margin-bottom: 24px;
    position: relative;
}

#d-info1 {
    background-image: url("../Images/Group\ 39.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scaleX(-1);
    height: 600px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    margin-bottom: 24px;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}

.btn-package {
    width: 210px;
    height: 52px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background: #FF5400;
    margin-left: 550px;
    color: white;
    font-size: 20px;
    font-weight: 800;
    border: 0px;
}

.info-right{
    width: 420px;
    height: 230px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border: 2px solid #130606;
    background: #ffffffa7;
    backdrop-filter: blur(2.5px);
    position: absolute;
    left: 590px;
    top: 150px;
    padding: 52px 77px 50px 50px;
}

.info-left-side {
    width: 420px;
    height: 230px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border: 2px solid #130606;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: absolute;
    left: 590px;
    top: 150px;
    padding: 52px 77px 50px 50px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}

.info-left-side .deals-rules {
    font-size: 15px;
    font-weight: 400;
    display: flex;
    gap: 25px;
    padding-bottom: 26px;
}

.info-right .deals-rules {
    font-size: 12px;
    font-weight: 400;
    display: flex;
    gap: 24px;
    padding-bottom: 26px;
}

.info-title {
    font-size: 24px;
    font-weight: 800;
    color: #131318;
    padding-bottom: 16px;
}

.info-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 16px;
}

.price-range {
    font-size: 20px;
    font-weight: 800;
    color: #FF5400;
    padding-bottom: 24px;
}

.btn-book {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 14px 24px;
    background: #FF5400;
    color: white;
}



/* Styles for perfect destination seciton */

.perfect-place {
    margin-top: 100px;
}

.perfect-container {
    display: flex;
    justify-content: space-between;
    gap: 28px;
}

.perfect-content{
    max-width: 632px;
    height: 424px;
}

.perfect-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 24px;
}

.perfect-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 642px;
    
}

.perfect-content p {
    margin-bottom: 24px;
}

.perfect-content ul {
    margin-bottom: 24px;
    font-weight: 700;
    max-width: 518px;
    margin-left: 25px;
}

.btn-package1 {
    width: 210px;
    height: 52px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background: #FF5400;
    color: white;
    font-size: 20px;
    font-weight: 800;
    border: 0px;
    
}

.perfect-view video {
    height: 424px;
    border-radius: 16px;
}


/* Style for newsletter */

.newsletter{
    margin-bottom: 100px;
    margin-top: 100px;
}

.newsletter-container {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}   


.newsletter-title {
    color: #131318;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 800;
}

.subscribe{
    padding: 40px;
    max-width: 474px;
    border-radius: 16px;
    border: 1px solid #180b05;
}  


.about-news {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 350px;
    margin-bottom: 24px;
}

.subscribe hr {
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    max-width: 393px;
    margin-bottom: 24px;
}

.input input {
    margin-bottom: 16px;
    display: block;
    padding: 16px 175px 16px 16px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    
}

.btn-subscribe {
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 20px;
    margin-top: 8px;
    font-weight: 800;
    padding: 14px 145px;
    border: 0px;

}

/* .newsletter-pic img{
    height: 440px;
} */
.newsletter-pic {
    background-image: url('../Images/Rectangle\ 15.png');
    border: 2px solid black;
    height: 450px;
    width: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.cupon{
    background: tomato;
    border: 2px solid #cb840a;
    height: 50px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: whitesmoke;
    transform: rotate(-55deg);
    -webkit-transform: rotate(-55deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-55deg);
    -o-transform: rotate(-55deg);
    margin-top: 290px;
    margin-left: 340px;
}
      

/* Styles for Footer part */

footer {
    /* height: 502px; */
    background: #1313180d;
    height: 502px;
}

.footer-content {
    /* padding: 335px auto; */
    text-align: center;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 15px;
    gap: 16px;
}

.footer-logo img {
    width: 40px;
    height: 46px;
}

.logo-title {
    font-size: 32px;
}

.web-info {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 770px;
    margin: 0px auto;
    /* margin-bottom: 33px; */
    padding-bottom: 33px;
}

.links {
    margin-bottom: 50px;
    display: flex;
    padding-left: 650px;
    gap: 20px;
}
.links img{
    width: 40px;
    height: 40px;
   
}
hr {
    height: 1px;
    background: #1313181a;
    width: 872px;
    margin: 0px auto;
}

.copyright{
    margin-top: 50px;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}
.hide {
    display: none;
}


/* Style for MQ (small device) */
@media screen and (min-width:1000px) and (max-width:2400px) {
    .menu-icon{
        display: none;
    }
    
}

@media screen and (max-width:576px) {
    header{
        margin: 20px;
    }
    .nav-bar .menu-hide{
        display: none;
    }
    /* .nav-bar .menu-bar{
        flex-direction: column;
        gap: 0px;
        flex-wrap: wrap;
    } */
    .nav-bar .menu-bar{
        padding-left: 0px;   
    }

    .menu-icon{
        right: 30px;
        cursor: pointer;
    }

    .nav-logo img {
        width: 40px;
        height: 50px;
    }
    .logo-title, caption{
        font-size: 20px;
    }
    /* .nav-menus li a {
        margin-right: 1rem;
        text-decoration: none;
        color: #424247;
    } */
    /* .nav-menus ul{
        text-align: center;
    } */



    /* Banner */
    .banner{
        height: 34rem;
    }
    .banner-title {
        padding-top: 32px;
        font-size: 22px;
    }
    .banner-title-description {
        font-size: 14px;
        line-height: 21px;
        padding-top: 8px;
        max-width: 300px;
        margin-bottom: 32px;
    }

    .search-box{
        flex-direction: column;
        margin: 0px;
        padding: 16px 44px;
    }

    .Choices{
        gap: 75px;
        display: flex;

    }
    .find{
        padding-left: 60px;
    }
    
    /* POPULAR DESTINATINS */
    main{
        margin: 20px;
    }
    .popular-destinations{
        flex-direction: column;
        width: 50%;
    }

    .destinations-content{
       margin-left: 0px;
       max-width: 330px;
    }

    .btn-destination{
        margin: 24px 0px 0px 0px;
    }
    .destinations-pic img{
        width: 350px;
        height: 342px;
        padding-top: 150px;
        border: 0px;
    }
    .destination-title{
        font-size: 20px;
    }
    .destinations-title-description{
        font-size: 14px;
        text-align: justify;
    }
    .color{
        text-align: justify;
    }
    .destinations-pic{
        margin-top: 24px;
    }

    /* Choice section */
    .choice-title{
        font-size: 20px;
        margin-top: 0px;
    }

    .choice-title-description{
        font-size: 20px;
        max-width: 315px;
    }
    .choice-container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 1fr);
        row-gap: 15px;
    }

    #choice-1 {
        grid-column: 1/span 12;
        grid-row: 1/span 1;
    }
    #choice-2 {
        grid-column: 1/span 12;
        grid-row: 2/span 2;
    }

    #choice-3 {
        grid-column: 1/span 12;
        grid-row: 3/span 3;
    }

    #choice-4 {
        grid-column: 1/span 12;
        grid-row: 4/span 4;
    }

    #choice-5 {
        grid-column: 1/span 12;
        grid-row: 5/span 5;
    }

    #choice-6 {
        grid-column: 1/span 12;
        grid-row: 6/span 6;
    }

    #choice-7 {
        grid-column: 1/span 12;
        grid-row: 7/span 7;
    }

    /* Reasons section */
    .reasons-title{
        font-size: 25px;
    }

    .reasons-title-description{
        max-width: 309px;
        margin: 0px;
        margin-bottom: 16px;
        margin-left: 25px;
        font-size: 18px;
    }

    .card2{
        position:none;
        left: 0px;
    }
    .card img, .card1 img, .card2 img{
        padding-bottom: 10px;
        padding-top: 5px;
    }
    

    /* Deals section */
    .deals-title{
        font-size: 25px;
        margin-bottom: 15px;
    }
    .deals-description{
        font-size: 20px;
        font-weight: 24px;
        max-width: 309px;
        margin-bottom: 15px;
    }

    #d-info,#d-info1{
        max-width: 360px;
        height: 500px;
    } 
    .info-right,.info-left-side{
        position: none;
        left: 25px;
        top: 180px;
        padding: 26px 24px;
        width: 250px;
        height: 240px;
        margin: 0px auto;

    }
    .info-right .deals-rules{
        flex-wrap: wrap;
        margin: 0p;
        padding-left: 5px;
        padding-bottom: 0px;
    }
    .info-left-side .deals-rules{
        padding-bottom: 0px;
        flex-wrap: wrap;
    }
    
    .info-left-side .info-title{
        font-size: 18px;
    }
    .info-title{
        padding-left: 10px;
        padding-top: 2px;
    }
    .info-description{
        padding-left: 10px;
        padding-top: 2px;
        padding-bottom: 5px;

    }
    .price-range{
        padding-left: 10px;
        padding-bottom: 5px;
    }
    .info button{
        padding-left: 25px;
    }

    .btn-package{
       display: none;
    }

    /* Perfect Destination */
    .perfect-container{
        flex-direction: column;
    }

    .perfect-content{
        max-width: 335px;
    }
    .perfect-title{
        font-size: 25px;
        line-height: 30px;
    }
    .perfect-description{
        font-size: 16px;
    }
    .perfect-content ul li{
        padding-bottom: 20px;
    }
    .btn-package1{
        margin-top: 10px;
    } 

    .perfect-view video{
        width: 340px;
        margin-top: 25px;
        border-radius: 16px;
}

    /* newsletter section */
    .newsletter-container {
        flex-direction: column;
    }
    .subscribe hr {
        
        max-width: 288px;
    }
    .input input {
        padding: 16px 106px 16px 20px;

    }
    .subscribe{
        max-width: 375px;
        padding: 24px;

    }
    .btn-subscribe{
        padding: 14px 115px;
    }
    .newsletter-pic{
        max-width: 100%;
    }

    .cupon{
        background: tomato;
        border: 2px solid #cb840a;
        height: 100px;
        width: 230px;
        text-align: center;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        color: whitesmoke;
        transform: rotate(-48deg);
        -webkit-transform: rotate(-48deg);
        -moz-transform: rotate(-48deg);
        -ms-transform: rotate(-48deg);
        -o-transform: rotate(-48deg);
        margin-top: 250px;
        margin-left: 120px;
        padding-top: 40px;
        font-size: 16px;
}

    /* footer part */
    footer{
        width: 100%;
        margin: 0px;
        padding: 0px;
       
    }
    footer hr{
        width: 340px;
        margin-top: 20px;
    }
    .web-info{
        font-size: 20px;
        line-height: 35px;
    }
    .footer-content{
        padding: 32px 44px;
    }
    .footer-logo{
        padding-top: 0px;
    }
    .links{
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 0px;
    }
    .links img{
        width: 40px;
        height: 40px;
    }
    .copyright{
        margin-bottom: 9px;
    }
}